body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:hsl(180, 8%, 75%);
    /* background-image: url("../static/earth.mp4"); */
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .content{
    text-align: center;
  }
  
  header {
    /* background-repeat: no-repeat; */
    background-image:url("../static/H1.jpg");
    background-size: cover;
    color: #FFF;
    text-align: center;
    padding: 50px 0;
    height: 500px;
    width: 100vw;
  }
  
.navigation ul{
    display: flex;
    justify-content: right;
    gap: 50px;
}

.navigation ul li:hover{
   text-decoration: underline;

}
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  header nav ul li {
    display: inline-flex;
    margin-right: 5px;
  }

  header nav ul li a {
    color: #f9f6f6;
    text-decoration: none;
  }
    
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    
  }
  
  header p {
    font-size: 18px;
    justify-content: center;
  }
  
  .featured {
    padding: 40px 0;
  }
  
  .featured h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .destination {
    text-align: center;
    padding: 20px;
  }
  
  .destination img {
    width: 70%;
    max-height: 300px;
    border-radius: 10px;
  }
  
  .destination h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .gallery {
    background-image:url("../static/background.webp") ;
    background-size: cover;
    height: 700px;
    text-align: center;
    padding: 40px 0;
  }
  
  .gallery h2 {
    margin-bottom: 30px;
  }
  .gallery h3 {
    margin-bottom: auto;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }
  footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
    position:inherit;
    bottom: 0;
    width: 100%;

  }
  