<!DOCTYPE html>
<html>
<head>
  <title>Travel Agency</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <!-- Header Section -->
  <header>
    <div class="container">
      <nav class="navigation">
      <ul>
        <li><a href="../templates/index.html">Home</a></li>
        <li><a href="../templates/destinations.html">Destinations</a></li>
        <li><a href="../templates/ourinfo.html">About Us</a></li>
        <li><a href="../templates/LP_index.html">Login/SignUp</a></li>
        <li><a href="../templates/contact.html">Contact</a></li>
      </ul>
      </nav>
      <div class="content">
        <h1>Magical Escape</h1>
        <p>Embarking on a journey through Magical Realities</p>
      </div>
    </div>
  </header>

  <!-- Featured Section -->
  <section class="featured">
    <div class="container">
      <h2>Featured Destinations</h2>
      <div class="destination">
        <a href="station.html">
        <img src="../static/train station.jpg" alt="Destination 1">
        </a>
        <h3>Hogwarts Express</h3>
        <p>It is the primary mode of transportation for Hogwarts School of Witchcraft and Wizardry students traveling from London to Hogwarts at the start of the school year and returning home for the holidays.</p>
      </div>
      <div class="destination">
        <a href="../templates/supplies.html">
        <img src="../static/Quidditch Supplies.jpg" alt="Destination 2">
        </a>
        <h3>Quidditch Supplies</h3>
        <p> It is located in Diagon Alley, a magical shopping district in London, accessible to wizards and witches. The store specializes in selling a wide range of Quidditch equipment and supplies for Quidditch players and enthusiasts.</p>
      </div>
    </div>
  </section>

  <!-- Gallery Section -->
  <section class="gallery">
    <div class="container">
      <h2>Popular Destinations</h2>
      <br>
      <br>
      <br>
      <br>
      <div class="image-gallery">
        <a href="../templates/cos.html">
        <img src="../static/Chamber Of Secrets.jpeg" alt="Destination 1"></a>
        <h3></h3>
        <a href="../templates/tb.html">
        <img src="../static/The Burrows-2.jpg" alt="Destination 2"></a>
        <h3></h3>
        <a href="../templates/ff.html">
        <img src="../static/forbidden forest.jpg" alt="Destination 3"></a>
        <h3></h3>
        <br>
        <br>
        <br>
        <a href="../templates/da.html">
        <img src="../static/Diagon Alley.webp" alt="Destination 4"></a>
        <h3></h3>
        <a href="../templates/mm.html">
        <img src="../static/ministry of magic.webp" alt="Destination 5"></a>
        <h3></h3>
        <a href="../templates/gb.html">
        <img src="../static/Gringotts Bank.jpg" alt="Destination 6"></a>
        <h3></h3>
        <!-- Add more images here -->
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <p>&copy; 2023 Travel Agency. All rights reserved.</p>
  </footer>
</body>
</html>
