<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/LP_styles.css" />
  </head>

  <body>
    <video autoplay muted loop>
      <source src="../static/earth.mp4" type="video/mp4">
      Fallback content in case the video doesn't work
      Your browser does not support the video tag.
    </video>
    <div class="card">

      <form class="form" method="POST">     
        <h2> Login </h2>
        <p class="form__group">
          <label class="form__label" for="username">Username:</label>
          <input class="input" type="text" name="username" id="username" required />
        </p>
        <p class="form__group">
          <label class="form__label" for="password">Password:</label>
          <input class="input" type="password" name="password" id="password" required/>
        </p>

        <button class="button" type="submit" >Login</button>
        <p>
          Not a User? <a href="./Signup">Signup</a>
        </p>
      </form>
    
      <p class="welcome">Welcome to the Adventure!</p>
      
    </div>
  </body>
</html>
